<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>BackSlash Maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <script src="../scripts/mapbox-gl.js"></script>
    <link href="../styles/mapbox-gl.css" rel="stylesheet" />
    <script src="../scripts/geocoder.js"></script>
    <link rel="stylesheet" href="../styles/geocoder.css" />
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>

    <div id="offline">
        <video src="../media/lost.mp4" autoplay loop></video>
    </div>

    <div id='map' style='width: 100%; height: 100vh'></div>
    <div id='geocoder' class='geocoder'></div>

    <div id="hamburger"><i id="ham" class="fas fa-bars"></i></div>
    <div id="sidebar">
        <p id="SettingsLabel">Settings</p>
        <div id="settings">
            <p class="label">Maps Style</p>
            <div id='menu'>
                <input class="frm-maptoggle" id='streets' type='radio' name='rtoggle' value='streets' checked='checked'>
                <label for='streets'>Streets</label><br><br>
                <input class="frm-maptoggle" id='basic' type='radio' name='rtoggle' value='basic'>
                <label for='basic'>Basic</label><br><br>
                <input class="frm-maptoggle" id='bright' type='radio' name='rtoggle' value='bright'>
                <label for='bright'>Bright</label><br><br>
                <input class="frm-maptoggle" id='light' type='radio' name='rtoggle' value='light'>
                <label for='light'>Light</label><br><br>
                <input class="frm-maptoggle" id='dark' type='radio' name='rtoggle' value='dark'>
                <label for='dark'>Dark</label><br><br>
                <input class="frm-maptoggle" id='satellite' type='radio' name='rtoggle' value='satellite'>
                <label for='satellite'>Satellite</label><br><br>
            </div>
            <p class="label">Render World Copies</p>
            <div id="render_world_copies">
                <input class="frm-maptoggle" id='true' type='radio' name='render_toggle' value='true' checked='checked'>
                <label for='true'>Enabled</label><br><br>
                <input class="frm-maptoggle" id='false' type='radio' name='render_toggle' value='false'>
                <label for='false'>Disabled</label><br><br>
            </div>
            <p class="label">Interactions</p>
            <nav id='listing-group' class='listing-group'>
                <input type='checkbox' id='scrollZoom' checked='checked'>
                <label for='scrollZoom'>Scroll zoom</label>
                <input type='checkbox' id='boxZoom' checked='checked'>
                <label for='boxZoom'>Box zoom</label>
                <input type='checkbox' id='dragRotate' checked='checked'>
                <label for='dragRotate'>Drag rotate</label>
                <input type='checkbox' id='dragPan' checked='checked'>
                <label for='dragPan'>Drag pan</label>
                <input type='checkbox' id='keyboard' checked='checked'>
                <label for='keyboard'>Keyboard</label>
                <input type='checkbox' id='doubleClickZoom' checked='checked'>
                <label for='doubleClickZoom'>Double click zoom</label>
            </nav>
            <p class="label">About</p>
            <p id="about">
                BackSlash Maps
                <br>
                v0.2.1
                <br>
                Developed by <strong>BackSlash Linux</strong>
                <br>
                Made with ❤️ in <strong>India</strong>
            </p>
        </div>
    </div>
    <div id="copyright-notice">
        <p>&copy; Copyright 2020, <strong>BackSlash Maps</strong> powered by <i>Mapbox</i></p>
    </div>
    <script>
        // Access Token

        mapboxgl.accessToken = 'pk.eyJ1IjoibHVjaWZlcmNyIiwiYSI6ImNrNGx0amIzejJkaHIzZm8yODB2dGx2cXYifQ.sopB-tKzpX_qXc30bv_puQ';

        // RTL Plugin Load

        mapboxgl.setRTLTextPlugin(
            'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js'
        );
    </script>
    <script src="../scripts/showMap.js"></script>
    <script src="../scripts/switchLayers.js"></script>
    <script src="../scripts/renderWorldCopies.js"></script>
    <script src="../scripts/geocoderEnable.js"></script>
    <script src="../scripts/interactions.js"></script>
    <script>
        if (typeof module === 'object') {
            window.module = module; module = undefined;
        }
        </script>
    <script>if (window.module) module = window.module;</script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/jquery-ui.js"></script>
    <script src="../scripts/toggleHamburger.js"></script>
</body>

</html>